/*input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}*/

input[type="text"], select, textarea {
  display: block;
  margin: 0;
  width: 95%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}


input[type=submit] {
    background-color: #ef4f4f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
    transition: 0.5s;
    width: 97%;
}



input[type=submit]:hover {
    background-color: #d13c3c;
}

.container {
    background-color: #555;
    color: #000;
    padding: 20px;
    width: 97%;
    float: left;
}

.container-contactform {
    background-color: #ffffff;
    padding: 20px;
    width: 50%;
    float: left;
    box-shadow: 2px 5px 10px #000;
}

.Contact-detail{
	float: left;
	border-radius: 5px;
    background-color: #2f2f30;
    padding: 20px;
    margin-left: 10px;
    width: 40%;
    float: left;
}

a:link{
	color: #ddd;
}


